#canvasContainer{
    width:100%;
    height: 100%;
    display: flex;
    align-content: center;
    left: 25%
}

.canvas{
    border:1px black dotted;
    position:absolute;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px
}

#canvas-draft{
    background-color: transparent;
}

#functions{
    padding-top: 660px;
}